In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt
import datetime as datetime

# Dataset of Top 1000 Grossing Movies <img src = 'movies.jpg'>

## Read CSV data

In [10]:
movies = pd.read_csv('../../files/highest_grossing_movies.csv', sep=',')
display(movies)
movies.shape #(918,11)

,Unnamed: 0,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN
...,...,...,...,...,...,...,...,...,...,...,...
913,913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,"June 25, 2004",81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13
914,914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,"December 21, 2001",80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,NaN
915,915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),"August 13, 2010",80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13
916,916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,"October 17, 2003",80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R
917,917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),"July 6, 2011",80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG

(918, 11)

## Data Wrangling

In [15]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 918 entries, 0 to 917
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Title                       918 non-null    object
 1   Movie Info                  918 non-null    object
 2   Distributor                 918 non-null    object
 3   Release Date                800 non-null    object
 4   Domestic Sales (in $)       918 non-null    int64
 5   International Sales (in $)  918 non-null    int64
 6   World Sales (in $)          918 non-null    int64
 7   Genre                       918 non-null    object
 8   Movie Runtime               918 non-null    object
 9   License                     744 non-null    object
dtypes: int64(3), object(7)
memory usage: 78.9+ KB

In [24]:
#Changing some data types
movies['Release Date'] = pd.to_datetime(movies['Release Date'])
movies.info()
#--------------------------------------
#Change Movie Runtime to numeric
# The 'Movie Runtime' column is of type string. Let's change it to numeric values
# runtime = movies['Movie Runtime'].str.split(expand = True).iloc[:, [0, 2]]
# runtime = runtime.fillna(0)
# runtime = runtime.astype('int64')
# movies['Movie Runtime'] = runtime[0] + runtime[2]/60
# movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 918 entries, 0 to 917
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Title                918 non-null    object
 1   Movie Info           918 non-null    object
 2   Distributor          918 non-null    object
 3   Release Date         800 non-null    datetime64[ns]
 4   Domestic Sales       918 non-null    int64
 5   International Sales  918 non-null    int64
 6   World Sales          918 non-null    int64
 7   Genre                918 non-null    object
 8   Movie Runtime        918 non-null    float64
 9   License              744 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(3), object(5)
memory usage: 78.9+ KB

## Renaming some columns to make access easier

In [23]:
# Renaming some columns
movies.rename(columns = {'Domestic Sales (in $)': 'Domestic Sales',
                     'International Sales (in $)': 'International Sales',
                     'World Sales (in $)': 'World Sales'}, inplace = True)
display(movies)

,Title,Movie Info,Distributor,Release Date,Domestic Sales,International Sales,World Sales,Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,2015-12-16,936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2.300000,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,2019-04-24,858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3.016667,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,2009-12-16,760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2.700000,PG-13
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaT,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2.233333,NaN
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaT,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2.483333,NaN
...,...,...,...,...,...,...,...,...,...,...
913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,2004-06-25,81001787,36813370,117815157,"['Drama', 'Romance']",2.050000,PG-13
914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,2001-12-21,80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1.366667,NaN
915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),2010-08-13,80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2.216667,PG-13
916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,2003-10-17,80571655,26792250,107363905,"['Crime', 'Horror']",1.633333,R
917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),2011-07-06,80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1.700000,PG

### Display all column names

In [25]:
display(movies.keys())

Index(['Title', 'Movie Info', 'Distributor', 'Release Date', 'Domestic Sales',
       'International Sales', 'World Sales', 'Genre', 'Movie Runtime',
       'License'],
      dtype='object')

## Removing duplicate rows and unnecessary column: "Unnamed"

In [14]:
# Removing duplicate rows
movies.drop_duplicates(inplace = True)
# Removing the unnecessary column 'Unnamed: 0'
movies.drop('Unnamed: 0', axis = 1, inplace = True)
display(movies)

,Title,Movie Info,Distributor,Release Date,Domestic Sales (in $),International Sales (in $),World Sales (in $),Genre,Movie Runtime,License
0,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Walt Disney Studios Motion Pictures,"December 16, 2015",936662225,1132859475,2069521700,"['Action', 'Adventure', 'Sci-Fi']",2 hr 18 min,PG-13
1,Avengers: Endgame (2019),After the devastating events of Avengers: Infi...,Walt Disney Studios Motion Pictures,"April 24, 2019",858373000,1939128328,2797501328,"['Action', 'Adventure', 'Drama', 'Sci-Fi']",3 hr 1 min,PG-13
2,Avatar (2009),A paraplegic Marine dispatched to the moon Pan...,Twentieth Century Fox,"December 16, 2009",760507625,2086738578,2847246203,"['Action', 'Adventure', 'Fantasy', 'Sci-Fi']",2 hr 42 min,PG-13
3,Black Panther (2018),"T'Challa, heir to the hidden but advanced king...",Walt Disney Studios Motion Pictures,NaN,700426566,647171407,1347597973,"['Action', 'Adventure', 'Sci-Fi']",2 hr 14 min,NaN
4,Avengers: Infinity War (2018),The Avengers and their allies must be willing ...,Walt Disney Studios Motion Pictures,NaN,678815482,1369544272,2048359754,"['Action', 'Adventure', 'Sci-Fi']",2 hr 29 min,NaN
...,...,...,...,...,...,...,...,...,...,...
913,The Notebook (2004),A poor yet passionate young man falls in love ...,New Line Cinema,"June 25, 2004",81001787,36813370,117815157,"['Drama', 'Romance']",2 hr 3 min,PG-13
914,Jimmy Neutron: Boy Genius (2001),An eight-year-old boy genius and his friends m...,Paramount Pictures,"December 21, 2001",80936232,22056304,102992536,"['Action', 'Adventure', 'Animation', 'Comedy',...",1 hr 22 min,NaN
915,Eat Pray Love (2010),A married woman realizes how unhappy her marri...,Sony Pictures Entertainment (SPE),"August 13, 2010",80574010,124020006,204594016,"['Biography', 'Drama', 'Romance']",2 hr 13 min,PG-13
916,The Texas Chainsaw Massacre (2003),After picking up a traumatized young hitchhike...,New Line Cinema,"October 17, 2003",80571655,26792250,107363905,"['Crime', 'Horror']",1 hr 38 min,R
917,Zookeeper (2011),A group of zoo animals decide to break their c...,Sony Pictures Entertainment (SPE),"July 6, 2011",80360843,89491916,169852759,"['Comedy', 'Family', 'Fantasy', 'Romance']",1 hr 42 min,PG

In [34]:
#After cleaning up some data lets look at some statistics about it..
display(movies.describe())



object_column_desc = movies.describe(include = ['object'])
print(f'Here is the description of columns of type object:\n')
display(object_column_desc)

       Domestic Sales  International Sales   World Sales  Movie Runtime
count    9.180000e+02         9.180000e+02  9.180000e+02     918.000000
mean     1.677469e+08         2.301434e+08  3.968668e+08       1.942847
std      1.040360e+08         2.176011e+08  3.082629e+08       0.347929
min      8.036084e+07         2.600000e+02  8.160000e+07       1.266667
25%      1.016071e+08         8.845620e+07  2.005564e+08       1.666667
50%      1.321351e+08         1.638819e+08  3.019416e+08       1.916667
75%      1.913905e+08         2.885577e+08  4.750718e+08       2.166667
max      9.366622e+08         2.086739e+09  2.847246e+09       3.350000

Here is the description of columns of type object:

,Title,Movie Info,Distributor,Genre,License
count,918,918,918,918,744
unique,918,918,34,309,4
top,Star Wars: Episode VII - The Force Awakens (2015),"As a new threat to the galaxy rises, Rey, a de...",Warner Bros.,"['Action', 'Adventure', 'Sci-Fi']",PG-13
freq,1,1,158,56,363

In [35]:
movies.describe(include = ['object']).iloc[2, [2, 3, 4]].to_frame().rename(columns = {'top': 'Mode'})

                                          Mode
Distributor                       Warner Bros.
Genre        ['Action', 'Adventure', 'Sci-Fi']
License                                  PG-13

In [49]:
dist_value = movies['Distributor'].to_frame()
# display(dist_value)
#-----------------------------------------------

#Diplaying a set value of Distributors and resetting the index
distrib_count = dist_value.drop_duplicates().reset_index(drop=True)
display(distrib_count)

                            Distributor
0   Walt Disney Studios Motion Pictures
1                 Twentieth Century Fox
2     Sony Pictures Entertainment (SPE)
3                    Paramount Pictures
4                    Universal Pictures
5                          Warner Bros.
6               DreamWorks Distribution
7                             Lionsgate
8                            DreamWorks
9                       New Line Cinema
10                      Newmarket Films
11                 Summit Entertainment
12                    Columbia Pictures
13                            IFC Films
14                     TriStar Pictures
15                       Orion Pictures
16            Metro-Goldwyn-Mayer (MGM)
17                              Miramax
18                The Weinstein Company
19             Fox Searchlight Pictures
20                   Revolution Studios
21                Artisan Entertainment
22               Sony Pictures Classics
23                       United Artists
24                          Screen Gems
25                            USA Films
26                 20th Century Studios
27                    STX Entertainment
28                      Dimension Films
29             United Artists Releasing
30                         FilmDistrict
31                       Focus Features
32                     Relativity Media
33                 Roadside Attractions

# Telling a story with data...
The story this vizualization will tell is about movie distribution companies and the trend of their sales.
-

In [ ]:
#showing top 5 money making movie Distributors based on World sales (domestic sales + international sales)
for